<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
	<TestRunParameters>
		<Parameter name ="BROWSER" value="Firefox"/>
		<Parameter name ="CUSTOM_DOWNLOAD_PATH" value="$(System.DefaultWorkingDirectory)\Downloads"/>
	</TestRunParameters>
</RunSettings>